.content {
    display: flex;
    justify-content: center;
}

.content .card {
    background-color: whitesmoke;
    width: 300px;
    height: auto;
    padding-bottom: 10px;
    overflow: hidden;
    margin: 20px;
    border-radius: 5px;
    flex-wrap: wrap;
    float: left;
}


.card img {
    width: auto;
    height: 200px;
}

.card-model h4 {
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
}